    /* Basic Timeline Styles */
    .timeline {
      position: relative;
      margin-left: 1rem; /* Adjusted for better spacing */
  }

  .timeline::before {
      content: '';
      position: absolute;
      inset: 0;
      left: 2.3rem; /* Adjusted for icon centering */
      transform: translateX(-50%);
      width: 2px;
      background-image: linear-gradient(to bottom, transparent, #cbd5e0, transparent);
  }

  .timeline-item {
      margin-bottom: 2rem;
      position: relative;
  }

  .timeline-item:last-child {
      margin-bottom: 0;
  }

  /* Item Header Styles */
  .timeline-item-header {
      display: flex;
      align-items: center;
      margin-bottom: 0.75rem;
  }

  .timeline-item-header-reversed {
      flex-direction: row-reverse;
  }

  .timeline-item-icon-container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
      background-color: #fff;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
      z-index: 10; /* Ensure icon is above the line */
  }

  .timeline-item-icon-container-order-1 {
      order: 1;
  }

  .timeline-item-icon-emerald {
      fill: #10b981;
  }

  .timeline-item-icon-red {
      fill: #f43f5e;
  }

  .timeline-item-icon-slate-300 {
      fill: #cbd5e0;
  }

  .timeline-item-icon-slate-500 {
      fill: #64748b;
  }

  .timeline-item-date {
      font-family: 'Caveat', sans-serif;
      font-weight: 500;
      font-size: 1.25rem;
      color: #6366f1;
      width: 8rem;
      text-align: left;
  }

  .timeline-item-date-reversed {
      text-align: right;
  }

  /* Item Content Styles */
  .timeline-item-content {
      margin-left: 3.5rem; /* Adjusted for icon and spacing */
  }

  .timeline-item-content-md {
      margin-left: 11rem;
  }

  .timeline-item-title {
      color: #475569;
      margin-left: 0.25rem;
  }

  .timeline-item-title-bold {
      font-weight: bold;
      color: #0f172a;
  }

  .timeline-item-card {
      background-color: #fff;
      padding: 1rem;
      border-radius: 0.25rem;
      border: 1px solid #e2e8f0;
      color: #475569;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  }

  /* Media Queries for Larger Screens */
  @media (min-width: 768px) {
      .timeline {
          margin-left: 0;
      }

      .timeline::before {
          left: 8.75rem;
      }

      .timeline-item-header {
          margin-bottom: 0.75rem;
          /* Adjust spacing if needed */
      }

      .timeline-item-content {
          margin-left: 0;
      }

      .timeline-item-content-md {
          margin-left: 8.75rem;
      }
  }